
/* tutorial */
#tutorial-modal {font-size: 18px;}
#tutorial-modal .modal-body {background: #fafafb; height: 290px; position: relative; -webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;border-top-left-radius: 6px;border-top-right-radius: 6px;}
#tutorial-modal .modal-footer {height: 61px;}
#tutorial-modal h2 {font-weight: bold; margin-bottom: 10px;}
#tutorial-modal .col {float: left; width: 200px;}
#tutorial-modal .col2 {width: 235px; margin-left: 25px;}
#tutorial-modal .steps {position: absolute; bottom: 10px; left: 200px;}
#tutorial-modal .steps li {background: url(../img/tutorial-icons.png) no-repeat 0 -372px; width: 12px; height: 12px; display: inline-block; }
#tutorial-modal .steps li.active {background-position: 0 -392px;}
#tutorial-modal .modal-footer a {font-size: 11px; color: #bebebe;}