body{
position: relative;
margin:0px;
padding:0px;
width: 250px;
height: 390px;
background: #09102a url(/img/bg.png) repeat-x scroll;
}

#playerBar {
margin-left: 35px;
margin-top:3px;
}

#playerBar .buttons {
margin-top:5px;
text-align: center;
height: 40px;
width: 194px;
}

#playerBar .thumbDownButton {
margin: 6px 3px 0 3px;
float: left;
background: url(/img/tdown.png);
}

#playerBar .thumbUpButton {
margin: 6px 3px 0 3px;
float: left;
background: url(/img/tup.png);
}

#playerBar .playButton {
margin: 0 3px;
float: left;
background: url(/img/play.png) no-repeat top left;
}

#playerBar .pauseButton {
display: none;
margin: 0 3px;
float: left;
background: url(/img/pause.png) no-repeat top left;
}

#playerBar .skipButton {
float: left;
margin: 6px 3px 0 3px;
background: url(/img/skip.png) no-repeat top left;
}



#playerBar .thumbDownButton a:link, #playerBar .thumbDownButton a:visited {
display: block;
width: 36px;
height: 35px;
}
#playerBar .thumbDownButton a:link, #playerBar .thumbDownButton a:visited {
display: block;
width: 36px;
height: 35px;
}
#playerBar .thumbUpButton a:link, #playerBar .thumbUpButton a:visited {
display: block;
width: 36px;
height: 35px;
}
#playerBar .thumbUpButton a:link, #playerBar .thumbUpButton a:visited {
display: block;
width: 36px;
height: 35px;
}
#playerBar .playButton a:link, #playerBar .playButton a:visited {
display: block;
width: 48px;
height: 47px;
}
#playerBar .playButton a:link, #playerBar .playButton a:visited {
display: block;
width: 48px;
height: 47px;
}
#playerBar .pauseButton a:link, #playerBar .pauseButton a:visited {
display: block;
width: 48px;
height: 47px;
}
#playerBar .pauseButton a:link, #playerBar .pauseButton a:visited {
display: block;
width: 48px;
height: 47px;
}
#playerBar .skipButton a:link, .skipButton a:visited {
display: block;
width: 36px;
height: 38px;
}
#playerBar .skipButton a:link, .skipButton a:visited {
display: block;
width: 36px;
height: 38px;
}




#playerBar{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:60px;
	width:250px;
}

#nowplayingText{
	position:fixed;
	top:60px;
	left:0px;
	right:0px;
	height:40px;
	width:250px;
	background:black;
	color:white;
	padding-left:5px;
}

#nowplaying{
	position:fixed;
	top:100px;
	left:0px;
	right:0px;
	height:250px;
	width:250px;
	background-size:cover;
	
}

#createStation{
	position:fixed;
	top:350px;
	left:0px;
	right:0px;
	height:40px;
	width:250px;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

